.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 10% 0 10%;
    background-image: url(../imgs/background.jpg);
    background-size: cover;
    background-position: 0% 10%;
}
/* Just to further reference with font */
.font{
    font-family: 'Roboto', sans-serif;
}

.QuestCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
    border-radius: 25px;
    margin-top: 10em;
    border: solid 3px gray;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.QuestTitle{
    display: flex;
    justify-content: center;
    font-family: 'ROBOTO'
}

h3{
    padding: 20px;
}

div.QuestAlts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
}

div.child{
    flex: 50%;
}

#alt1, #alt2, #alt3, #alt4{
    margin: 5px;
    word-break: break-all;
    width: 200px;
    height: 60px;
}

.Score-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Transition */

div{
    opacity: 1;
    transition: opacity 0.5s linear;
}

div.hide{
    opacity: 0;
    pointer-events: none;
}